<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Root Page</title>
</head>
<body>
    <%- include('../partials/header') %>
    <h1>Root Page</h1>
    <!-- Root page content here -->
    <%- include('../partials/footer') %>
</body>
</html>
