<div class="modal fade" id="adminCreateUser" tabindex="-1" aria-labelledby="adminCreateUserLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="adminCreateUserLabel">Cadastrar novos usuários</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form id="createUserForm" class="row g-3">
                <div id="userAlert"></div>
                <!-- Username -->
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="username" placeholder="Digite o username" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- Email -->
                    <div class="mb-3">
                        <label for="email" class="form-label">Email <span class="text-danger">*</span></label>
                        <input type="email" class="form-control" id="email" placeholder="Digite o email" required>
                    </div>
                </div>

                <div class="col-md-6">
                    <!-- Primeiro Nome -->
                    <div class="mb-3">
                        <label for="firstName" class="form-label">Primeiro Nome <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="firstName" placeholder="Digite o primeiro nome" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- Último Nome -->
                    <div class="mb-3">
                        <label for="lastName" class="form-label">Último Nome <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="lastName" placeholder="Digite o último nome" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="seletct-groups">Grupos de permissões</label>
                    <textarea name='userGroup' placeholder='Grupos' class="form-control"></textarea>
                </div>
                <div class="col-md-6">
                    <label for="userComanies">Associar empresas ao usuário</label>
                    <textarea name='userComanies' placeholder='Empresas' class="form-control"></textarea>
                </div>
                <!-- Botão de Enviar -->
                <div class="modal-footer">,

                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button id="createUserButton" type="button" class="btn btn-primary">Continuar</button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>
