<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Proceder | new users</title>
</head>
<body>
    <%- include('../partials/header') %>
    <div class="container">
        <div class="d-flex justify-content-center mt-5">
            <div class="fs-1">Cadastros</div>
        </div>
        <div class="d-flex justify-content-lg-end">
            <div class="btn-group" role="group">
                <button id="" type="button" class="btn btn-outline-danger bi bi-database-fill-lock" data-bs-toggle="modal" data-bs-target="#adminCreateUser"></button>
                <button id="" type="button" class="btn btn-outline-secondary bi bi-building-fill-add" data-bs-toggle="modal" data-bs-target="#adminCreateUser"></button>
                <button id="" type="button" class="btn btn-outline-warning bi bi-people-fill ml-2" data-bs-toggle="modal" data-bs-target="#adminCreateUser"></button>
            </div>
        </div>
        <hr>
    </div>
    <%- include('../partials/modals/createUsers') %>
    <script src="/static/src/main.js"></script>
    <script src="/static/root/users/main.js"></script>
</body>
</html>